/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Common
# header


--------------------------------------------------------------*/
@font-face {
  font-family: 'Circular Std';
  font-weight: 400;
  src: url(../../fonts/circular-std/CircularStd-Book.ttf); }
@font-face {
  font-family: 'Circular Std';
  font-weight: 500;
  src: url(../../fonts/circular-std/CircularStd-Medium.ttf); }
@font-face {
  font-family: 'Circular Std';
  font-weight: 700;
  src: url(../../fonts/circular-std/CircularStd-Bold.ttf); }
body {
  font-family: 'Circular Std', 'sans-serif';
  color: #444444;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500; }

a:active,
a:hover,
a:focus,
a:visited, a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Circular Std'; }

.fix {
  overflow: hidden; }

p {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 20px; }

button {
  cursor: pointer; }

input:focus, textarea:focus, button:focus {
  outline: none;
  border: 1px solid #00B2A5; }

dl, ol, ul {
  margin: 0;
  padding: 0; }

ul.main-menu {
  list-style: none;
  align-items: center; }
  ul.main-menu li {
    position: relative; }
    ul.main-menu li a {
      font-size: 15px;
      color: #383838;
      margin: 0 10px;
      padding-bottom: 4px;
      transition: 0;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s;
      position: relative; }
      ul.main-menu li a::before {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: #00B2A5;
        position: absolute;
        left: 0;
        bottom: 0;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        transition: 0.3s; }
      ul.main-menu li a:hover::before {
        width: 100%; }
    ul.main-menu li.nav-btn a {
      display: inline-block;
      padding: 10px 20px;
      border-radius: 30px;
      background: #00B2A5;
      color: #fff; }
      ul.main-menu li.nav-btn a:hover {
        background: #06D3C4; }
      ul.main-menu li.nav-btn a::before {
        display: none; }

.site-header {
  padding: 15px 0;
  background: #fff;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }

.hero-img {
  position: relative; }
  .hero-img img {
    position: absolute; }
    .hero-img img.frame-img {
      position: relative;
      display: block;
      margin: 0 auto; }
  .hero-img img.img-fluid.video-wave {
    width: 76%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: videoWave 10s infinite; }
  .hero-img img.img-fluid.star-img {
    left: 30px;
    top: -23%;
    animation: starOne 10s infinite; }
  .hero-img img.img-fluid.star-img2 {
    left: 167px;
    top: -23%;
    animation: starTwo 10s infinite; }
  .hero-img img.img-fluid.video-vactor {
    bottom: -155px;
    right: 24px;
    animation: videoVactor 10s infinite; }

.hero-sec {
  height: 100vh;
  background: #00B2A5;
  padding: 250px 0 50px;
  overflow: hidden; }

@media (max-width: 1399px) {
  .hero-sec {
    height: 100%;
    padding-bottom: 200px; } }
.hero-content h1 {
  font-size: 60px;
  color: #fff;
  margin-bottom: 20px; }
.hero-content a {
  display: inline-block;
  padding: 20px 35px;
  background: #FDD13D;
  color: #000;
  font-size: 20px;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border: 0 none; }
  .hero-content a:hover {
    background: #FDDA63; }
  .hero-content a i {
    margin-left: 5px; }

@keyframes videoWave {
  0% {
    transform: translate(-50%, -50%) scale(1); }
  50% {
    transform: translate(-50%, -50%) scale(0.8); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }
@keyframes starOne {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes starTwo {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
@keyframes videoVactor {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(10px); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }
/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

.copyright-text {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  margin: -50px 0 0;
  text-align: center; }
  .copyright-text span {
    display: inline-block;
    border-bottom: 2px solid #FDD13D;
    font-weight: 500; }

.form-popup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none; }
  .form-popup-wrap .form-popup-container {
    width: 400px;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .form-popup-wrap .form-popup-container .form-minus {
      position: absolute;
      font-size: 16px;
      border: 0 none;
      right: -10px;
      top: -10px;
      width: 25px;
      height: 25px;
      background: #FDD13D;
      color: #000;
      border-radius: 50%; }
    .form-popup-wrap .form-popup-container .popup-form-wrap {
      padding-top: 10px; }
      .form-popup-wrap .form-popup-container .popup-form-wrap br {
        display: none; }
      .form-popup-wrap .form-popup-container .popup-form-wrap button.video-submit {
        padding: 8px 25px;
        border: 0 none;
        background: #FDD13D;
        color: #000;
        border-radius: 5px;
        margin-top: 15px;
        font-weight: 500; }
      .form-popup-wrap .form-popup-container .popup-form-wrap p {
        margin: 0; }

@media (max-width: 991px) {
  .navigation {
    position: absolute;
    left: 0;
    width: 100%;
    background: #fff;
    top: 52px;
    display: none;
    z-index: 999;
    padding: 15px; }
    .navigation ul li a {
      padding: 15px 0;
      border-bottom: 1px solid #e7e7e7;
      margin: 0; }
    .navigation ul li ul {
      position: static;
      visibility: visible;
      opacity: 1;
      box-shadow: none;
      padding: 0 !important;
      width: 100%;
      display: none;
      transition: none; }

  .hero-sec .row {
    flex-wrap: wrap-reverse; }

  .hero-content {
    margin-top: 80px; }

  .hero-img img.img-fluid.star-img {
    left: 0;
    top: -21%;
    width: 71px; }

  .hero-img img.img-fluid.star-img2 {
    left: 102px;
    top: -17%;
    width: 40px; }

  .hero-img img.img-fluid.video-vactor {
    bottom: -65px;
    width: 150px; } }
@media (min-height: 990px) {
  .hero-sec {
    height: 100vh;
    padding-bottom: 50px; } }
@media (max-width: 486px) {
  .hero-img img.img-fluid.star-img {
    width: 52px; }

  .hero-img img.img-fluid.star-img2 {
    left: 65px;
    top: -23%;
    width: 30px; }

  .hero-img img.img-fluid.video-vactor {
    bottom: -31px;
    width: 70px; }

  .copyright-text {
    font-size: 12px; }

  .hero-content {
    text-align: center; }
    .hero-content h1 {
      font-size: 50px; }
    .hero-content a {
      font-size: 16px;
      padding: 15px 22px; }

  .form-popup-wrap .form-popup-container {
    width: 90%; } }

/*# sourceMappingURL=style.css.map */
